:root {
    --body-bg-color: #f4f4f9;
    --body-color: #333333;

    --btn-bg-color: #007BFF;

    --accent-color: #FF5722;
}

/* Mode dark */
:root.dark {
    --body-bg-color: #1e1e2f;
    --body-color: #f1f1f1;

    --btn-bg-color: #3399FF;

    --accent-color: #FF9800;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-color);
    accent-color: var(--accent-color);

    font-family: Arial;
    font-size: 16px;

    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";

    transition: all 0.3s;
}

/* Header */
header {
    grid-area: header;
}

#tournoi-phare img {
    width: 100%;
    max-height: 20vh;
}

/* Main */
main {
    grid-area: main;
    margin: auto;
    min-height: 80vh;
}


h2 {
    font-size: 24px;
}


/* Page confirmation */
#message {
    background-color: lightcoral;
    border-radius: 1em;
    padding: 1em;
}

#message.success {
    background-color: rgb(127, 170, 127);
}




/* Footer */
footer {
    grid-area: footer;
    text-align: center;
}